<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ExceptionConfigSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EnterpriseLibrary\SystemConfigFiles\Exception.config" />
      <add name="LogConfigSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EnterpriseLibrary\SystemConfigFiles\Log.config" />
      <add name="DataAccessConfigSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EnterpriseLibrary\SystemConfigFiles\DataAccess.config" />
      <add name="ValidationConfigSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EnterpriseLibrary\SystemConfigFiles\Validation.config" />
      <add name="PolicyInjectionConfigSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EnterpriseLibrary\SystemConfigFiles\PolicyInjection.config" />
    </sources>
    <redirectSections>
      <add sourceName="ExceptionConfigSource" name="exceptionHandling" />
      <add sourceName="LogConfigSource" name="Redirected Section" />
      <add sourceName="DataAccessConfigSource" name="dataConfiguration" />
      <add sourceName="ValidationConfigSource" name="validation" />
      <add sourceName="PolicyInjectionConfigSource" name="policyInjection" />
    </redirectSections>
  </enterpriseLibrary.ConfigurationSource>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="net.tcp" binding="netTcpBinding" />
    </protocolMapping>
    <bindings>
      <netTcpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="67108864">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Message">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="netTcpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="67108864">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="67108864">
          <readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="Blue_WCF_Server" storeLocation="CurrentUser" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="AppFramework.WinFormsLibrary.WinFormsMembershipProvider, AppFramework.WinFormsLibrary" />
          </serviceCredentials>
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="5000" maxConcurrentInstances="5000" />
        </behavior>
        <behavior name="behaviorConfig">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
          <serviceCredentials />
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="5000" maxConcurrentInstances="5000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="behaviorConfig" name="Blue.WCFServices.CommonUtilService">
        <endpoint address="CommonUtilService" binding="netTcpBinding" bindingConfiguration="netTcpBinding" name="CommonUtilService" contract="Blue.WCFContracts.ICommonUtilContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="behaviorConfig" name="Blue.WCFServices.RemoteServerService">
        <endpoint address="RemoteServerService" binding="netTcpBinding" bindingConfiguration="netTcpBinding" name="CommonUtilService" contract="Blue.WCFContracts.IRemoteServerContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>      
      <service name="Blue.WCFServices.MutualChannelService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/MutualChannelService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.DuplexService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/DuplexService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemPrvoiderService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemPrvoiderService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.UserModule.UserAccountService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/UserModule/UserAccountService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.UserModule.UserConfigService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/UserModule/UserConfigService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.CustomDepartmentService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/CustomDepartmentService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.UserTypeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/UserTypeService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.SystemConfigService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/SystemConfigService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.UserLogService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/UserLogService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.CustomRoleService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/CustomRoleService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.CustomInterfaceService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/CustomInterfaceService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.SystemModule.UserMessageService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/SystemModule/UserMessageService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomDatabaseService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomDatabaseService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomCategoryService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomCategoryService" />
          </baseAddresses>
        </host>
      </service>      
      <service name="Blue.WCFServices.BusinessModule.CustomTableService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomTableService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomDataFieldService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomDataFieldService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomExpressionService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomExpressionService" />
          </baseAddresses>
        </host>
      </service>      
      <service name="Blue.WCFServices.BusinessModule.CustomEnumService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomEnumService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomAssociationService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomAssociationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.AssociatedDataFieldService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/AssociatedDataFieldService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomGroupService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomGroupService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CombinedTableService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CombinedTableService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomViewService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomViewService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomQueyService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomQueyService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomWorkflowInstanceService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomWorkflowInstanceService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomWorkflowProcessService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomWorkflowProcessService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.WorkflowInstanceStepService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/WorkflowInstanceStepService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomWorkflowService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomWorkflowService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomDataService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomDataService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomSectionService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomSectionService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomFormService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomFormService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomMenuService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomMenuService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomBusinessService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomBusinessService" />
          </baseAddresses>
        </host>
      </service>      
      <service name="Blue.WCFServices.BusinessModule.AppointmentInstanceService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/AppointmentInstanceService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.CustomPrintService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/CustomPrintService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.DataBussinessService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/DataBussinessService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessModule.UserQueryService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessModule/UserQueryService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.GeneralAffairModule.PriavteAttachmentService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/GeneralAffairModule/PriavteAttachmentService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.GeneralAffairModule.PrivateMailService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/GeneralAffairModule/PrivateMailService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.DataFilledModule.BusinessInstanceService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/DataFilledModule/BusinessInstanceService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.DataAuditingService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/DataAuditingService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.DataAuditingLogService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/DataAuditingLogService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.DataAuditingStepService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/DataAuditingStepService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.CustomReportService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/CustomReportService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.CustomSheetService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/CustomSheetService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.CustomCellService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/CustomCellService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.CustomSnapshotService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/CustomSnapshotService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.BusinessDesignerModule.AppointmentBusinessService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/BusinessDesignerModule/AppointmentBusinessService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.DataConvertionModule.DataRelationService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/DataConvertionModule/DataRelationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Blue.WCFServices.DataConvertionModule.RemoteDataService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/DataConvertionModule/RemoteDataService" />
          </baseAddresses>
        </host>
      </service>      
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.1.0" newVersion="5.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.10.3.0" newVersion="5.10.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FarPoint.Win" publicKeyToken="327c3516b1b18457" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.35.20152.0" newVersion="8.35.20152.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
