<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <policyInjection>
    <policies>
      <add name="Policy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.CustomAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              searchInheritanceChain="true" attributeType="AppFramework.Reference.EnterpriseLibrary.Instrumentation.CustomOperationAttribute, AppFramework.Reference, Version=5.0.0.0, Culture=neutral, PublicKeyToken=89ee86d6eb149f6b"
              name="Custom Attribute Matching Rule" />
        </matchingRules>
        <handlers>
          <add type="AppFramework.Reference.EnterpriseLibrary.Instrumentation.CustomOperationCallHandler, AppFramework.Reference, Version=5.0.0.0, Culture=neutral, PublicKeyToken=89ee86d6eb149f6b"
              name="CustomUserCallHandler" />
        </handlers>
      </add>
    </policies>
  </policyInjection>
</configuration>
