<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UserInfoConfig" type="AppFramework.Core.ClientConfig.CustomConfigure`1[[AppFramework.Core.ClientConfig.UserInfoConfigParentNode, AppFramework.Core, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b391ca7e96808180]], AppFramework.Core, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b391ca7e96808180" />
    <section name="ServerAddressConfig" type="AppFramework.Core.ClientConfig.CustomConfigure`1[[AppFramework.Core.ClientConfig.ServerAddressConfigParentNode, AppFramework.Core, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b391ca7e96808180]], AppFramework.Core, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b391ca7e96808180" />
  </configSections>
  <ServerAddressConfig DefaultValue="Default">
    <Group>
      <add ServerName="Default" ServerAddress="127.0.0.1" Port="8090"
        State="false" />
    </Group>
  </ServerAddressConfig>
</configuration>