<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAL" value="Blue.SQLServerDAL" />    
    <add key="WCFServices" value="Blue.WCFServices" />
    <add key="MembershipProvider" value="Blue.BusinessLogic, Blue.BusinessLogic.UserNamePasswordValidator" />
    <add key="WindowsServiceName" value="BlueWindowsService" />
    <add key="WindowsServiceStartTime" value="2017-01-01 00:00:00" />
    <add key="DefaultFileFormat" value="JPEG(*.JPG;*.JPEG),GIF(*.GIF),PNG(*.PNG),BMP(*.BMP)|*.JPG;*.JPEG;*.GIF;*.PNG;*.BMP|rar(*.rar;*.zip),pdf(*.pdf),doc(*.doc;*.docx),xls(*.xls;*.xlsx),ppt(*.ppt;*pptx)|*.rar;*.zip;*.pdf;*.doc;*.docx;*.xls;*.xlsx;*.ppt;*.pptx|所有文件(*.*)|*.*" />
    <add key="DefaultFileSize" value="41943040"/>
    <add key="DefaultPictureFormat" value="JPEG(*.JPG;*.JPEG),GIF(*.GIF),PNG(*.PNG),BMP(*.BMP)|*.JPG;*.JPEG;*.GIF;*.PNG;*.BMP|所有文件(*.*)|*.*" />
    <add key="DefaultPictureSize" value="20971520"/>
    <add key="DefaultPDFFormat" value="pdf(*.pdf)|*.pdf|所有文件(*.*)|*.*" />
    <add key="DefaultPDFSize" value="41943040"/>    
    <add key="DefaultDocFormat" value="rar(*.rar;*.zip),pdf(*.pdf),doc(*.doc;*.docx),xls(*.xls,*.xlsx),ppt(*.ppt,pptx)|*.rar;*.zip;*.pdf;*.doc;*.docx;*.xls;*.xlsx;*.ppt|所有文件(*.*)|*.*" />
    <add key="DefaultDocSize" value="41943040"/>
    <add key="DefaultExcelFormat" value="Excel 工作簿|*.xlsx|Excel 97-2003 工作簿(*.xls) |*.xls" />
    <add key="DefaultExcelSize" value="41943040"/>
    <add key="DefaultMailAttachments" value="5"/>
    <add key="DefaultMailPictureCount" value="5"/>
    <add key="DefaultMailPictureSize" value="1048576"/>
    <add key="DefaultMailCharactersSize" value="2147483647"/>
    <add key="DefaultDocAttachments" value="5"/>
    <add key="DefaultDocPictureCount" value="5"/>
    <add key="DefaultDocPictureSize" value="1048576"/>
    <add key="DefaultDocCharactersSize" value="2147483647"/>
    <add key="DefaultUserNameMinLength" value="4" />
    <add key="DefaultUserNameMaxLength" value="32" />
    <add key="DefaultPaswordMinLength" value="8" />
    <add key="DefaultPaswordMaxLength" value="16" />
    <add key="DefaultUserActualNameMinLength" value="2" />
    <add key="DefaultUserActualNameMaxLength" value="128" />
    <add key="DefaultIdentityMinLength" value="15" />
    <add key="DefaultIdentityMaxLength" value="18" />
    <add key="DefaultUserPhotoMinLength" value="10240" />
    <add key="DefaultUserPhotoMaxLength" value="4194304" />
    <add key="DefaultDecimalDigitMaxLength" value="8" />
    <add key="DefaultEnumStringLength" value="64" />
    <add key="DefaultMultiEnumStringLength" value="256" />
    <add key="DefaultUserLockedMinSpan" value="24" />
    <add key="DefaultRetryTimes" value="10" />
    <add key="DefaultEmailName" value="rsk@scu.edu.cn,scursc@scu.edu.cn,scu_yh@163.com,scu_yh@sina.cn"/>
    <add key="DefaultEmailPassword" value="32DXk71M0nKD9ea7IJkIn/PZbWJqtWhRnW2XsHN+iydicgndM6S8PXTt8Rf0e7nELCECeKkfmfw="/>
    <add key="DefaultSmtpAddress" value="mail.scu.edu.cn,mail.scu.edu.cn,smtp.126.com,smtp.sina.com"/>
    <add key="DefaultValidatorSpan" value="15" />
    <add key="DefaultSystemName" value="人力资源管理系统" />
    <add key="DefaultSystemClientName" value="客户端" />
    <add key="DefaultSystemServerName" value="服务器端" />
    <add key="DefaultSystemWebName" value="Web端" />
    <add key="DefaultUserToolName" value="用户工具" />
    <add key="DefaultUserRegister" value="注册工具" />
    <add key="UserNameLabelInfo" value="用户名" />
    <add key="TrialDays" value="30" />
    <add key="ClientVersion" value="M0bPbM0x2AyHS3b6ckSa4Q==" />
    <add key="ClientReleasedDate" value="2022年09月21日" />
    <add key="ServerVersion" value="M0bPbM0x2AyHS3b6ckSa4Q==" />
    <add key="ServerReleasedDate" value="2022年09月21日" />
    <add key="CompatibleClientVersions" value="Van8At9QV66GGN9JimGETmkTtOKVWA4u" />
    <add key="ClientRegisterCode" value="yJAq648AErpAAWcewURELg==" />
    <add key="ServerRegisterCode" value="yJAq648AErpAAWcewURELg==" />
    <add key="DomainName" value="default" />
    <add key="DefaultRootDirOfSavedFiles" value="" />
    <add key="DefaultSubDirOfSavedPhotos" value="AppDataResources\UserPhoto" />
    <add key="DefaultSubDirOfUploadFiles" value="AppDataResources\UpLoadFiles" />
    <add key="DefaultSubDirOfSavedMessageFiles" value="AppDataResources\UserMail" />
    <add key="DefaultSubDirOfReportingFiles" value="AppDataResources\Reporting" />
    <add key="DefaultSubDirOfReportingSnapshotFiles" value="AppDataResources\ReportingSnapshot" />
    <add key="DefaultSubDirOfBackupFiles" value="AppDataResources\BackupFiles" />
    <add key="DefaultSubDirOfTemplateFiles" value="AppDataResources\TemplateFiles" />
    <add key="DefaultSubDirOfSavedIcons" value="AppDataResources\Icons" />
    <add key="DefaultClientTmpDirOfSavedFiles" value="Temp" />
    <add key="Year" value="2017" />
    <add key="YearMonthDay" value="2017-01-01" />
    <add key="WindowsServiceException" value="" />
    <add key="WebAPIException" value="" />
    <add key="WebAPIValidationPort" value="8092" />
    <add key="WebAPIDataPort" value="8091" />
    <add key="EnumCodeLength" value="3" />
    <add key="DefaultPageSize" value="100" />
    <add key="DefaultWebPageSize" value="20" />
    <add key="DefaultIconOnSubMenu" value="fa-circle-o" />
    <add key="EnableInterface" value="1" />
    <add key="DataBackupDirectory" value="" />
    <add key="ScuCompanyName" value="四川大学 Copyright © 2006-2019" />
    <add key="DefaultCompanyName" value="成都家易科技有限公司 Copyright © 2006-2019" />
    <add key="LastestBackupTime" value="" />
    <add key="BackupException" value="" />
    <add key="NewWebServerAddress" value="https://rsxxgl3.scu.edu.cn/#/" />
    <add key="SingleSignAddress" value="http://rsxxgl2.scu.edu.cn/SSO/auth" />
    <add key="SingleSignInterface" value="http://10.0.2.204:8060/mht/a/buttJoint/validator" />
    <add key="WebAddress" value="http://rsc.scu.edu.cn" />
    <add key="SSOClientId" value="renshi" />
    <add key="SSOPassword" value="EhcC14TPZ93PV0PPNb27cz9nSDDaHHoyEqorsFMaUxH-o_x3Y9F306kqWmrXMZud" />
    <add key="UniqueCodeName" value="Code" />
    <add key="SSOValidationAddress" value="oauth2.0/accessToken/grant_type=authorization_code&amp;client_id={0}&amp;client_secret={1}&amp;redirect_uri={2}/Validation/UserToken.aspx&amp;{3}={4}" />
    <add key="SSOInterfaceAddress" value="oauth2.0/profile/access_token={0}" />
  </appSettings>
</configuration>