<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SCU_FINANCE" value="Password=b7374b8ec0793c69;User ID=ETL_EXT_RSC;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=202.115.44.251)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));" />
  </appSettings>
</configuration>