<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IUnityBusiness" type="AppFramework.Reference.EnterpriseLibrary.Examples.IUnityBusiness, AppFramework.Reference" />
    <alias alias="NewUnityBusiness" type="AppFramework.Reference.EnterpriseLibrary.Examples.NewUnityBusiness, AppFramework.Reference" />
    <alias alias="CustomBehavior" type="AppFramework.Reference.EnterpriseLibrary.Instrumentation.CustomBehavior, AppFramework.Reference" />
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <container>
      <extension type="Interception"/>
      <register type="IUnityBusiness" mapTo="NewUnityBusiness">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="CustomBehavior"/>
      </register>
    </container>
  </unity>
</configuration>
