<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="LoginModule">
        <register type="AppFramework.Reference.MembershipProvider.IUserNamePasswordValidator,AppFramework.Reference" mapTo="Blue.BusinessLogic.UserNamePasswordValidator,Blue.BusinessLogic" />
      </container>
      <container name="UserModule">
        <register type="Blue.BusinessInterface.UserModule.IUserAccountHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.UserModule.UserAccountHandler,Blue.BusinessLogic"/>
        <register type="Blue.BusinessInterface.UserModule.IUserConfigHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.UserModule.UserConfigHandler,Blue.BusinessLogic"/>
      </container>
      <container name="SystemModule">
        <register type="Blue.BusinessInterface.SystemModule.ICustomDepartmentHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.CustomDepartmentHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.SystemModule.IUserTypeHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.UserTypeHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.SystemModule.ICustomRoleHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.CustomRoleHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.SystemModule.ISystemConfigHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.SystemConfigHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.SystemModule.IUserLogHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.UserLogHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.SystemModule.ICustomInterfaceHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.CustomInterfaceHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.SystemModule.IUserMessageHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.SystemModule.UserMessageHandler,Blue.BusinessLogic" />
      </container>
      <container name="BusinessModule">
        <register type="Blue.BusinessInterface.BusinessModule.ICustomEnumHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomEnumHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.IAssociatedDataFieldHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.AssociatedDataFieldHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomAssociationHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomAssociationHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomDatabaseHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomDatabaseHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomCategoryHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomCategoryHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomTableHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomTableHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomDataFieldHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomDataFieldHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomExpressionHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomExpressionHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomGroupHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomGroupHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICombinedTableHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CombinedTableHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomViewHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomViewHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomQueyHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomQueyHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomWorkflowHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomWorkflowHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomWorkflowInstanceHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomWorkflowInstanceHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomWorkflowProcessHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomWorkflowProcessHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomDataHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomDataHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomSectionHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomSectionHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomFormHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomFormHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomMenuHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomMenuHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomBusinessHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomBusinessHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.IWorkflowInstanceStepHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.WorkflowInstanceStepHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.IAppointmentInstanceHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.AppointmentInstanceHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.ICustomPrintHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.CustomPrintHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.IDataBusinessHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.DataBusinessHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessModule.IUserQueryHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessModule.UserQueryHandler,Blue.BusinessLogic" />
      </container>
      <container name="GeneralAffairModule">
        <register type="Blue.BusinessInterface.GeneralAffairModule.IPriavteAttachmentHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.GeneralAffairModule.PriavteAttachmentHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.GeneralAffairModule.IPrivateMailHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.GeneralAffairModule.PrivateMailHandler,Blue.BusinessLogic" />
      </container>
      <container name="DataFilledModule">
        <register type="Blue.BusinessInterface.DataFilledModule.IBusinessInstanceHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.DataFilledModule.BusinessInstanceHandler,Blue.BusinessLogic" />
      </container>
      <container name="BusinessDesignerModule">
        <register type="Blue.BusinessInterface.BusinessDesignerModule.ICustomReportHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.CustomReportHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.ICustomSheetHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.CustomSheetHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.ICustomCellHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.CustomCellHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.ICustomSnapshotHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.CustomSnapshotHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.IDataAuditingHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.DataAuditingHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.IDataAuditingLogHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.DataAuditingLogHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.IDataAuditingStepHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.DataAuditingStepHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.BusinessDesignerModule.IAppointmentBusinessHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.BusinessDesignerModule.AppointmentBusinessHandler,Blue.BusinessLogic" />
      </container>
      <container name="DataConvertionModule">
        <register type="Blue.BusinessInterface.DataConvertionModule.IDataRelationHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.DataConvertionModule.DataRelationHandler,Blue.BusinessLogic" />
        <register type="Blue.BusinessInterface.DataConvertionModule.IRemoteDataHandler,Blue.BusinessInterface" mapTo="Blue.BusinessLogic.DataConvertionModule.RemoteDataHandler,Blue.BusinessLogic" />
      </container>
    </containers>
  </unity>
</configuration>