<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="Blue" />
  <connectionStrings>
    <add name="Blue" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <add name="Blue_1" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue_1;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <add name="Blue_2" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue_2;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <add name="Blue_3" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue_3;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <add name="Blue_4" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue_4;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <add name="Blue_5" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue_5;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
    <add name="Blue_Business" connectionString="Data Source=chenjie-ilab;Initial Catalog=Blue_Business;Persist Security Info=True;User ID=sa;Password=jiechen@SCU;Pooling=true;Max Pool Size=8000;Min Pool Size=0;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>